@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #060C0C;
}

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 15%;
}

.subjecttitle {
    padding-bottom: 5px;
}

.subjectparagraph {
    padding-bottom: 20px;
}

.navlist {
    list-style-type: none;
}

.navlist li {
    display: inline-block;
    padding: 0px 20px;
}

.navlist li a {
    transition: all 0.3s ease 0s;
}

.navlist li .i__turn__blue:hover {
    color: rgb(15, 101, 199);
}

.navlist .cta__style {
   padding: 10px 10px; 
   background-color: rgba(15, 101, 199,1); /* en anden farve kunne være 58, 65, 255 */
   border: none;
   border-radius: 3px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
}

.navlist .cta__style:hover {
    background-color: rgba(15, 101, 199,0.7);
}

.cta__style {
   padding: 10px 10px; 
   background-color: rgba(15, 101, 199,1); /* en anden farve kunne være 58, 65, 255 */
   border: none;
   border-radius: 3px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
   white-space: nowrap;
}

.cta__style:hover {
    background-color: rgba(15, 101, 199,0.7);
}

@media only screen and (max-width: 1014px) {
    header {
        flex-direction: column;
        padding: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    header h1 {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .maincontent {
        flex-direction: column;
        padding: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 60px;
    }
    .maincontent__projekter {
        flex-direction: column;
        padding: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 60px;
    }
    .navlist a {
        margin-top: 8px;
    }
    .img3 {
        margin-top: 7px;
    }

}

@media only screen and (max-width: 768px) {
    .navlist li {
        display: block;
        width: 100%;
        padding: 10px 0px;
    }
    #footer {
        flex-direction: column;
    }
}

.maincontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    gap: 20px;
}

.maincontent .cta__seprojekter {
    margin-left: 10px;
    padding: 10px 10px; 
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
}

.maincontent .cta__style {
    padding: 10px 10px; 
    background-color: rgb(15, 101, 199);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.maincontent a {
    display: inline-block;
}

.maincontent .cta__style:hover {
    background-color: rgba(15, 101, 199,0.7);
}

.maincontent .cta__seprojekter:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.maincontent img {
    max-width: 100%;
    border-radius: 15px;
}

.maincontent__projekter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.maincontent__projekter .container {
    flex: 25%;
}

.subjectparagraph {
    max-width: 500px;
    line-height: 1.6em;
}

.margintop {
    margin-top: 50px;
}

.maincontent__projekter .cta__seprojekter {
    margin-left: 10px;
    padding: 10px 10px; 
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.maincontent__projekter .cta__style {
    padding: 10px 10px; 
    background-color: rgb(15, 101, 199);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.maincontent__projekter .cta__style:hover {
    background-color: rgba(15, 101, 199,0.7);
}

.maincontent__projekter .cta__seprojekter:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.maincontent__projekter img {
    max-width: 100%;
    border-radius: 15px;
    margin-left: 10px;
}

.imgcontainer img {
    max-width: 100%;
}

@media only screen and (max-width: 1322px) {
    .maincontent .cta__seprojekter {
        margin-top: 10px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1439px) {
    .maincontent__projekter {
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .container {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1460px) {
    .maincontent__projekter .cta__seprojekter {
        margin-left: 0px;
        margin-top: 10px;
    }  
}

@media only screen and (max-width: 1475px) {
    .imgcontainer {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 424px) {
    .img2 {
        margin-top: 7px;
    }
}

@media only screen and (max-width: 524px) {
    .img2 {
        margin-top: 7px;
    }
    .img3 {
        margin-top: 7px;
    }
}

@media only screen and (max-width: 268px) {
    .cta__seprojekter {
        margin-top: 10px;
    }
}

#footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: white;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.socials {
    padding-top: 10px;
}

.socials i {
    font-size: 1.6rem;
    width: 40px;
}